@model Multicarbono.ViewModels.ItensPedidoViewModel

@Html.Partial("_Menu")

<h5 style="margin-left:1%">Itens do pedido</h5>

<table class="table table-striped table-hover" style="margin-left:2%">
    <thead>
        <tr>
            <th>
                Descrição do Produto
            </th>
            <th>
                Código do Produto
            </th>
            <th>
                CFOP
            </th>
            <th>
                Preço Unitário
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Subtotal do item
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.itens)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.produto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produto.CodProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.CFOP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produto.VrUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.QTDE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.SubtotalItemPedido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-idItemPedido="@item.item.IdItemPedido">Alterar</a>
                <a asp-action="Delete" asp-route-idItemPedido="@item.item.IdItemPedido">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="ItemPedido" asp-action="CadastroItemPedido" asp-route-idPedido="@Model.pedidoId" id="btn_add_item" class="btn btn-info" style="margin-left:2%">Adicionar item ao pedido</a>
</p>