@model IEnumerable<Multicarbono.Models.Cliente.Cliente>

<h1>Clientes</h1>

<p>
    <a asp-action="CadastroCliente" class="btn btn-default">Criar cliente</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>               
                <td>
                    @*@Html.ActionLink("Editar", "Edit", new { idUsuario = item.IdUsuario }) |
                        @Html.ActionLink("Excluir", "Delete", new { idUsuario = item.IdUsuario })*@

                    <a asp-action="Edit" asp-route-idCliente="@item.IdCliente">Alterar</a>
                    <a asp-action="Delete" asp-route-idCliente="@item.IdCliente">Excluir</a>
                </td>
            </tr>
        }
     </tbody>
</table>
